@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@import "flowbite";
@import "tailwindcss";

@theme {
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-foreground: hsl(var(--primary-foreground));
  --color-secondary: hsl(var(--secondary));
  --color-secondary-foreground: hsl(var(--secondary-foreground));
  --color-muted: hsl(var(--muted));
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-accent: hsl(var(--accent));
  --color-accent-foreground: hsl(var(--accent-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-popover: hsl(var(--popover));
  --color-popover-foreground: hsl(var(--popover-foreground));
  --color-border: hsl(var(--border));
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-background: hsl(var(--background));
  --color-foreground: hsl(var(--foreground));
  --color-logo: hsl(var(--logo));
  --color-glow1: hsl(var(--glow1));
  --color-glow2: hsl(var(--glow2));
  --color-dev: hsl(var(--dev));
  --color-dev2: hsl(var(--dev2));
}

:root {
  --background: 0 0% 95%;

  --foreground: 222.2 84% 4.9%;

  --card: 200 20% 85%;

  --card-foreground: 200 20% 70%;

  --popover: 0 0% 100%;
  --popover-foreground: 222.2 84% 4.9%;

  --primary: 222.2 47.4% 11.2%;
  --primary-foreground: 210 40% 98%;

  --secondary: 180 100% 27%;
  --secondary-foreground: 222.2 47.4% 11.2%;

  --muted: 210 10% 20%;
  --muted-foreground: 215.4 16.3% 46.9%;

  --accent: 210 40% 96.1%;
  --accent-foreground: 222.2 47.4% 11.2%;

  --destructive: 0 84.2% 60.2%;
  --destructive-foreground: 210 40% 98%;

  --border: 214.3 31.8% 91.4%;
  --input: 214.3 31.8% 91.4%;
  --ring: 222.2 84% 4.9%;

  --radius: 0.5rem;
  --logo: 180 70% 35%;
  --glow1: 240 80% 30%;
  --glow2: 190 100% 50%;
  --dev: 268 93% 30%;
  --dev2: 172 76% 60%;
}

.dark {
  --background: 222.2 84% 4.9%;
  --foreground: 210 40% 98%;

  --card: 222.2 60% 10%;
  --card-foreground: 215, 55%, 13%;

  --popover: 222.2 84% 4.9%;
  --popover-foreground: 210 40% 98%;

  --primary: 200 60% 90%;
  --primary-foreground: 222.2 47.4% 11.2%;

  --secondary: 180 60% 90%;
  --secondary-foreground: 210 40% 98%;

  --muted: 0 0% 60%;
  --muted-foreground: 215 20.2% 65.1%;

  --accent: 217.2 32.6% 17.5%;
  --accent-foreground: 210 40% 98%;

  --destructive: 0 62.8% 30.6%;
  --destructive-foreground: 210 40% 98%;

  --border: 217.2 32.6% 17.5%;
  --input: 217.2 32.6% 17.5%;
  --ring: 212.7 26.8% 83.9%;
  --logo: 180 60% 80%;
  --glow1: 245 60% 40%;
  --glow2: 170 90% 55%;
  --dev: 268 93% 80%;
  --dev2: 172 76% 30%;
}

.hex {
  width: 100%;
  height: 100%;
  --s: 37px;

  --c: #0000, rgba(53, 40, 58, 0.075) 0.5deg 119.5deg, #0000 120deg;
  --g1: conic-gradient(from 60deg at 56.25% calc(425% / 6), var(--c));
  --g2: conic-gradient(from 180deg at 43.75% calc(425% / 6), var(--c));
  --g3: conic-gradient(from -60deg at 50% calc(175% / 12), var(--c));
  background: var(--g1), var(--g1) var(--s) calc(1.73 * var(--s)), var(--g2),
    var(--g2) var(--s) calc(1.73 * var(--s)), var(--g3) var(--s) 0,
    var(--g3) 0 calc(1.73 * var(--s)) #02061700;
  background-size: calc(2 * var(--s)) calc(3.46 * var(--s));

  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 10%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
  z-index: -100;
}
* {
  border-color: hsl(var(--border));
  font-family: "Roboto Mono", monospace;
}

body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}
.bg-grid {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;

  background-image: linear-gradient(
      rgba(100, 120, 200, 0.05) 1px,
      transparent 1px
    ),
    linear-gradient(90deg, rgba(100, 120, 200, 0.05) 1px, transparent 1px);

  background-size: 30px 30px;
  background-repeat: repeat;
  background-position: center;

  mask-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    ),
    linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 30%,
      rgba(0, 0, 0, 1) 70%,
      rgba(0, 0, 0, 0) 100%
    );
  mask-composite: intersect;
  -webkit-mask-composite: source-in;
  z-index: -1; /* Ensure it stays behind other content */
}

.backface-hidden {
  backface-visibility: hidden;
}
